.cart {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;

  &.is-open {

    .cart {

      &__bg {
        pointer-events: all;
        opacity: 0.4;
      }

      &__body {
        transform: translateX(-360px);
      }
    }
  }

  &__body {
    background-color: white;
    position: fixed;
    top: 0;
    right: -360px;
    bottom: 0;
    width: 360px;
    transition: 0.3s;
    z-index: 20;
  }

  &__bg {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 18;
    background-color: black;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
  }
}
