@import '../../vars.scss';

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding: 10px $spacing-x * 2 0;
  display: flex;
  align-items: center;

  &__column {
    display: flex;

    &--big {
      flex-grow: 1;
      padding-left: 100px;
    }
  }

  &__nav {
    padding-top: 15px;
  }

  &__link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;

    &:not(:first-child) {
      margin-left: 40px;
    }
  }
  
  &__cart-button-wrapper {
    margin-left: 40px;
    margin-top: 17px;
  }
}
